@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(85.28deg, #1D1E2C 4.09%, #000000 98%);
  color: #ffffff;
}
body .header {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
body .header .logo {
  text-transform: uppercase;
  font-family: "Hammersmith One", sans-serif;
  font-size: calc(30px + 2vw);
  color: #ffffff;
}
body .header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: none;
}
body .header .nav ul li {
  font-weight: 400;
  font-size: 50px;
  line-height: 21px;
  text-align: center;
}
body .header .header-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
  margin-left: 100px;
}
body .header .header-btns .sign-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: none;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  width: 142px;
  height: 40px;
}
body .header .header-btns .option-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  justify-content: space-between;
  padding: 14px 12px;
  background: rgba(255, 255, 255, 0.1);
  font-family: "Roboto", sans-serif;
}
body .header .menu-bar i {
  font-size: 27px;
}
body .main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
body .main .main-info {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .main .main-info h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  font-family: "Roboto", sans-serif;
  min-width: 300px;
  max-width: 1169px;
  background: linear-gradient(180deg, #000000 0.01%, #1D1E2C 0.02%, #FFFFFF 35.94%, #e8e6dd 51.04%, #d1d1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
body .main .main-info h1 .cr-white {
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
body .main .main-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  min-width: 280px;
  max-width: 587px;
}
body .main .main-info p a {
  color: rgb(67, 127, 236);
  text-decoration: none;
}
body .main .main-info .services-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}
body .main .main-info .services-btns .str-btn {
  border-radius: 8px;
  border: none;
  width: 142px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 13.9328px;
  line-height: 19px;
}
body .main .main-info .services-btns .str-btn img {
  width: 15px;
  height: 15px;
}
body .main .main-info .services-btns .sales-btn {
  border-radius: 8px;
  border: none;
  width: 142px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 13.9328px;
  line-height: 19px;
  color: #ffffff;
  background: linear-gradient(90deg, #040506 1.7%, #1C1D2A 101.56%);
}
body .main .main-info .services-btns .sales-btn img {
  width: 15px;
  height: 15px;
  filter: hue-rotate();
}

.poi {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */