@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(85.28deg, #1D1E2C 4.09%, #000000 98%);
  color: #ffffff;
}
body .header {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
body .header .logo {
  text-transform: uppercase;
  font-family: "Hammersmith One", sans-serif;
  font-size: calc(30px + 2vw);
  color: #ffffff;
}
body .header .nav {
  display: none;
  font-family: "Roboto", sans-serif;
}
body .header .nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
}
body .header .nav ul .category-arrow-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  gap: 20px;
  transition: 0.3s ease-in-out;
}
body .header .nav ul .category-arrow-divider img:hover {
  transform: rotate(180deg);
}
@media screen and (min-width: 1024px) {
  body .header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
body .header .header-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
}
body .header .header-btns .sign-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  width: 142px;
  height: 40px;
  color: #1D1E2C;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  display: none;
}
@media screen and (min-width: 700px) {
  body .header .header-btns .sign-btn {
    display: flex;
  }
}
body .header .header-btns .option-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: none;
  width: 142px;
  height: 40px;
  justify-content: space-between;
  padding: 14px 12px;
  background: rgba(255, 255, 255, 0.1);
  font-family: "Roboto", sans-serif;
}
body .header .menu-bar i {
  font-size: 27px;
}
@media screen and (min-width: 1024px) {
  body .header .menu-bar {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  body .header {
    padding: 53px;
  }
}
body .main .main-info {
  padding: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .main .main-info h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  font-family: "Roboto", sans-serif;
  min-width: 300px;
  max-width: 1169px;
  background: linear-gradient(180deg, #000000 0.01%, #1D1E2C 0.02%, #FFFFFF 35.94%, #e8e6dd 51.04%, #d1d1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media screen and (min-width: 1600px) {
  body .main .main-info h1 {
    font-size: 100px;
    line-height: 96%;
  }
}
body .main .main-info h1 .cr-white {
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-animation-name: color-changer;
          animation-name: color-changer;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes color-changer {
  0% {
    background: #ffffff;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
  25% {
    background: #021E73;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
  50% {
    background: #A6A6A6;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
  75% {
    background: #8C5A56;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
  100% {
    background: #ffffff;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
}
@keyframes color-changer {
  0% {
    background: #ffffff;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
  25% {
    background: #021E73;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
  50% {
    background: #A6A6A6;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
  75% {
    background: #8C5A56;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
  100% {
    background: #ffffff;
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
  }
}
body .main .main-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  min-width: 280px;
  max-width: 587px;
}
body .main .main-info p a {
  color: rgb(67, 127, 236);
  text-decoration: none;
}
body .main .main-info .services-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}
body .main .main-info .services-btns .str-btn {
  border-radius: 8px;
  border: none;
  width: 142px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 13.9328px;
  line-height: 19px;
}
body .main .main-info .services-btns .str-btn img {
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 700px) {
  body .main .main-info .services-btns .str-btn {
    width: 223px;
    height: 69px;
  }
}
body .main .main-info .services-btns .sales-btn {
  border-radius: 8px;
  border: none;
  width: 142px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 13.9328px;
  line-height: 19px;
  color: #ffffff;
  background: linear-gradient(90deg, #040506 1.7%, #1C1D2A 101.56%);
}
body .main .main-info .services-btns .sales-btn img {
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 700px) {
  body .main .main-info .services-btns .sales-btn {
    width: 223px;
    height: 69px;
  }
}
body .main .main-info .earth {
  width: 300px;
  height: 200px;
}
@media screen and (min-width: 1024px) {
  body .main .main-info .earth {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  body .main {
    margin-top: 50px;
    background: url("/assets/images/Frame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }
}
body .main .footer-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
body .main .footer-div .founder-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 41px;
  width: 200px;
  height: 93px;
  background: linear-gradient(90deg, #040506 1.7%, #1C1D2A 101.56%);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
body .main .footer-div .founder-box .founder-prof {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
body .main .footer-div .founder-box .founder-prof .name-and-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
body .main .footer-div .founder-box .founder-prof .name-and-position h2 {
  background: linear-gradient(180deg, #ffffff 0.01%, #1D1E2C 0.02%, #FFFFFF 35.94%, #437FEC 51.04%, #437FEC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 600;
  font-size: 12.2348px;
}
body .main .footer-div .founder-box .founder-prof .name-and-position p {
  font-weight: 600;
  font-size: 12.0675px;
}
body .main .footer-div .founder-box .pr-found {
  display: none;
}
@media screen and (min-width: 1024px) {
  body .main .footer-div .founder-box .pr-found {
    display: flex;
    font-weight: 400;
    font-size: 10.0675px;
    line-height: 21px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  body .main .footer-div .founder-box {
    width: 378px;
    height: 120px;
  }
}
body .main .footer-div .price-btc {
  background: linear-gradient(90deg, #040506 1.7%, #1C1D2A 101.56%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 93px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
body .main .footer-div .price-btc .price-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  justify-content: center;
}
body .main .footer-div .price-btc .price-row .btc-box {
  background: linear-gradient(90deg, #040506 1.7%, #1C1D2A 101.56%);
  border-radius: 6.64px;
  padding: 7px;
}
body .main .footer-div .price-btc .price-row .btc-box .btc-background {
  background: #FFCE00;
  border-radius: 9.64543px;
  padding: 5px;
}
body .main .footer-div .price-btc .price-row .name-and-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
body .main .footer-div .price-btc .price-row .name-and-price .usdt {
  color: rgb(196, 192, 192);
}
body .main .footer-div .price-btc .price-row .name-and-price .btc-price {
  font-weight: 600;
}
@media screen and (min-width: 1600px) {
  body .main .footer-div .price-btc .price-row .name-and-price {
    gap: 11px;
  }
}
body .main .footer-div .price-btc .vertical-line {
  width: 0.28px;
  height: 44px;
  background: #ffffff;
}
body .main .footer-div .price-btc .price-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
body .main .footer-div .price-btc .price-column .stat-btc {
  color: #2DCA73;
}
body .main .footer-div .price-btc .price-column .duration-btc {
  color: rgb(120, 104, 104);
}
@media screen and (min-width: 1024px) {
  body .main .footer-div .price-btc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
    width: 270px;
    height: 93px;
  }
}

.poi {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */